ul{
    list-style: none;
}
.cubic{
    width: 150px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: block;
    animation: 1s infinite;
  animation-name:Cubic ;
  animation-duration: 5s;
  animation-direction: infinite;
}
@keyframes Cubic{
    0%{
        top: 0px;
        left: 0%;
        background-color: greenyellow;
    }
    25%{
top: 450px;
left: 0px;
background-color: darkorange;
    }
    50%{
    top: 450px;
    left: 1100px;
    background-color: rgb(11, 50, 242);
    }
    75%{
top: 0px;
left: 1100px;
background-color: rgb(106, 100, 50);
    }
    100%{
top: 0px;
left: 0%;
background-color: greenyellow;
    }
}